build/
fpga/digital_twin/
fpga/build/

*.vcd
*.fst
*.log
*.jou
*.str
*.wdb
*.xpr
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/

obj_dir/
fpga/implement_ip_aligned_project.tcl
fpga/salvage_ip_aligned_route.tcl
fpga/verify_ip_timing_alignment.tcl
